    <!--Tools Area-->
    <div class="navbar-right ">
      <!--User info & notice; Unvisible For Mobile-->
      <ul class="nav navbar-nav m-n hidden-xs nav-user user">
        <li>
          <a href="/home/login" class="bg clear">
            Login
          </a>
        </li>
      </ul>
    </div>