<nav class="nav-primary hidden-xs">
  <ul class="nav bg clearfix">
    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
      My Records
    </li>
    <li>
      {{#link-to 'user.profile'}}
      <i class="icon-user icon text-success"></i>
      <span class="font-bold">Profile</span>
      {{/link-to}}
    </li>
    <li class="m-b hidden-nav-xs"></li>
  </ul>
  <ul class="nav" data-ride="collapse">
    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
      Applications
    </li>
    <li >
      <label href="#" class="auto">
        <span class="pull-right text-muted">
          <i class="fa fa-angle-left text"></i>
          <i class="fa fa-angle-down text-active"></i>
        </span>
        <i class="fa fa-user-md">
        </i>
        <span>Providers</span>
      </label>
      <ul class="nav dk text-sm">
        <li >
          {{#link-to 'providers.list' class="auto"}}
          <i class="fa fa-angle-right text-xs"></i><span>List</span>
          {{/link-to}}
        </li>
        <li >
          {{#link-to 'providers.new' class="auto"}}
          <i class="fa fa-angle-right text-xs"></i><span>New Provider</span>
          {{/link-to}}
        </li>
        <li >
          {{#link-to 'providers.calendar' class="auto"}}
          <i class="fa fa-angle-right text-xs"></i><span>Schedule</span>
          {{/link-to}}
        </li>
      </ul>
    </li>
    <li >
      <label href="#" class="auto">
        <span class="pull-right text-muted">
          <i class="fa fa-angle-left text"></i>
          <i class="fa fa-angle-down text-active"></i>
        </span>
        <i class="fa fa-user-md">
        </i>
        <span>Bookings</span>
      </label>
      <ul class="nav dk text-sm">
        <li >
          {{#link-to 'bookings.new' class="auto"}}
          <i class="fa fa-angle-right text-xs"></i><span>New</span>
          {{/link-to}}
        </li>
        <li >
          {{#link-to 'bookings.list' class="auto"}}
          <i class="fa fa-angle-right text-xs"></i><span>List</span>
          {{/link-to}}
        </li>
        <li >
          {{#link-to 'bookings.search' class="auto"}}
          <i class="fa fa-angle-right text-xs"></i><span>Search</span>
          {{/link-to}}
        </li>
      </ul>
    </li>

  </ul>
</nav>
