  <p>
    <strong>Dashboard</strong>
  </p>
  <div class="row">
    <div class="col-sm-6 portlet">
      <section class="panel panel-info portlet-item">
        <header class="panel-heading">
          Quick link
        </header>
        <div class="list-group bg-white">
          <a href="#" class="list-group-item">
            <i class="fa fa-fw fa-comments-o"></i> Messages
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-fw fa-bell"></i> Notifications
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-fw fa-bookmark"></i> Bookings
          </a>
        </div>
      </section>
      <section class="panel panel-default">
        <header class="panel-heading font-bold">Growth Chart</header>
        <div class="panel-body" style="padding-left:40px;padding-bottom:40px;position:relative">
          <div class='axisLabel yaxisLabel'>Weight (kg)</div>
          <div id="flot-chart"  style="height:240px; "></div>
          <div class='axisLabel xaxisLabel'>Age (months)</div>
        </div>
      </section>
    </div>
    <div class="col-md-6">
      <section class="panel panel-default portlet-item">
        <header class="panel-heading">
          <ul class="nav nav-pills pull-right">
            <li>
              <a href="#" class="panel-toggle text-muted">
                <i class="fa fa-caret-down text-active"></i>
                <i class="fa fa-caret-up text"></i>
              </a>
            </li>
          </ul>
          News <span class="badge bg-info">32</span>
        </header>
        <section class="panel-body">
          <article class="media">
            <div class="pull-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bold fa-stack-1x text-white"></i>
              </span>
            </div>
            <div class="media-body">
              <a href="#" class="h4">Bootstrap 3: What you need to know</a>
              <small class="block m-t-xs">Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</small>
              <em class="text-xs">
                Posted on <span class="text-danger">Feb 23, 2013</span>
              </em>
            </div>
          </article>
          <div class="line pull-in"></div>
          <article class="media">
            <div class="pull-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x text-info"></i>
                <i class="fa fa-file-o fa-stack-1x text-white"></i>
              </span>
            </div>
            <div class="media-body">
              <a href="#" class="h4">Bootstrap documents</a>
              <small class="block m-t-xs">There are a few easy ways to quickly get started with Bootstrap, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.</small>
              <em class="text-xs">
                Posted on <span class="text-danger">Feb 12, 2013</span>
              </em>
            </div>
          </article>
          <div class="line pull-in"></div>
          <article class="media">
            <div class="pull-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x icon-muted"></i>
                <i class="fa fa-mobile fa-stack-1x text-white"></i>
              </span>
            </div>
            <div class="media-body">
              <a href="#" class="h4 text-success">Mobile first html/css framework</a>
              <small class="block m-t-xs">Bootstrap, Ratchet</small>
              <em class="text-xs">
                Posted on <span class="text-danger">Feb 05, 2013</span>
              </em>
            </div>
          </article>
        </section>
      </section>
    </div>
  </div>