<section class="hbox">
  <!-- .aside -->
  <aside class="aside-lg bg-light dker wrapper">
    <div id="myEvents" class="panel b-a bg-light">
      <div class="panel-heading bg-white">
        Patient Bookings
      </div>
      <ul class="list-unstyled wrapper m-b-none">

      </ul>
    </div>
  </aside>
  <!-- /.aside -->
  <!-- .aside -->
  <aside class="wrapper">
    <section class="panel no-border bg-light">
      <header class="panel-heading bg-primary clearfix">
        <div class="btn-group pull-right" data-toggle="buttons">
          <label class="btn btn-sm btn-bg btn-default active" id="monthview">
            <input type="radio" name="options"/>Month
          </label>
          <label class="btn btn-sm btn-bg btn-default" id="weekview">
            <input type="radio" name="options"/>Week
          </label>
          <label class="btn btn-sm btn-bg btn-default" id="dayview">
            <input type="radio" name="options"/>Day
          </label>
        </div>
        <span class="m-t-xs inline text-white">
          Fullcalendar
        </span>
      </header>
      <div class="calendar" id="calendar">

      </div>
    </section>
  </aside>
  <!-- /.aside -->
</section>